{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}



  <div class="max-w-3xl mx-auto bg-white rounded-2xl shadow-lg overflow-hidden">

    <div class="h-40 bg-gradient-to-r from-[#15202B] to-[#1DA1F2] relative">
      <div class="absolute -bottom-12 left-1/2 transform -translate-x-1/2">
        <img src="{{ asset(user.avatar ? 'uploads/avatars/' ~ user.avatar : 'images/default-avatar.png') }}" 
             alt="Avatar"
             class="w-24 h-24 rounded-full border-4 border-white shadow-md object-cover bg-white">
      </div>
    </div>

    <div class="mt-16 px-8 pb-10 text-center">
      <h1 class="text-2xl font-bold text-gray-800">{{ user.username }}</h1>
      <p class="text-gray-500">{{ user.email }}</p>

  
      {% if app.user and app.user.id == user.id %}
        <div class="mt-6 flex justify-center">
          <a href="{{ path('app_profile_edit') }}"
             class="py-2 px-8 bg-[#1DA1F2] text-white font-bold rounded-full shadow hover:bg-[#0d95e8] focus:outline-none focus:ring-2 focus:ring-[#1DA1F2] focus:ring-offset-2 transition-colors">
             Modifier
          </a>
        </div>
      {% endif %}

    </div>
  </div>

{% endblock %}
