{% extends 'base.html.twig' %}

{% block title %}Tweet index
{% endblock %}

{% block body %}

	<div class="w-full h-screen bg-[#15202B]">

		<div class="pt-5 flex items-center justify-center flex-col">

			<a class="bg-[#1DA1F2] text-white p-3 rounded-lg" href="{{ path('app_tweet_new')}}">Écrire un tweet</a>

			{% for tweet in tweets %}

				<div class="p-3 bg-[#15202B] text-white border-1 border-neutral-600 w-130 ">
					<div>
						<span class="font-bold">{{ tweet.user.username }}</span>
						<span>
							·
						</span>
						<span class="text-neutral-400">{{ tweet.createdAt|date('d/m/Y H:i:s', "Europe/Paris") }}</span>
					</div>
					<div class="pt-3">
						<p>{{ tweet.content }}</p>
					</div>
				</div>
			{% else %}
				<span class="pt-5 text-neutral-400">Personne n'a encore écrit de tweet.</span>
			{% endfor %}
		</div>

	</div>
{% endblock %}
