<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Mini Twitter
			{% endblock %}
		</title>

		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
		<link rel="stylesheet" href="https://unpkg.com/lucide-static@latest/font/lucide.css"/>
	</head>

	<body
		class="bg-[#15202B] text-white min-h-screen">

		<!-- Bouton hamburger visible uniquement sur mobile -->
		<button id="menuBtn" class="md:hidden fixed top-4 left-4 z-50 bg-neutral-800 p-2 rounded-lg">
			<i class="fa-solid fa-bars text-white text-2xl"></i>
		</button>

		<div
			class="flex">


			{# {% if app.request.attributes.get('_route') not in ['app_login', 'app_register'] %} #}

			{% if app.request.attributes.get('_route')  in ['app_home','app_profile_tweets', 'app_profile_edit', 'app_admin', 'app_profile',
							 'app_replies_index', 'app_tweet_delete', 'app_tweet_show', 'app_tweet_new', 'app_profile_view', 'app_profile_retweets',
							  'app_retweet_index', 'app_retweet_add', 'app_retweet_delete', 'app_profile_followers', 'app_retweet_edit', 'app_retweet_show', 'app_retweet_new',
							   'app_report_form', 'app_replies_delete', 'app_replies_edit', 'app_replies_show', 'app_replies_new', 'app_tweet_report',
							   'app_profile_following', 'app_follow_toggle', 'app_like_delete', 'app_like_edit', 'app_like_new', 'app_like_show', 'app_like_index',
							   'app_admin_list_user', 'app_admin_disable_user', 'app_admin_ban_user', 'app_admin_delete_tweet', 'app_admin_delete_report', 'app_tweet_index'] %}

				{% include 'sidebar/sidebar.html.twig' %}
			


			<!-- Contenu principal -->
			<main class="flex-1 p-6 flex justify-center md:ml-56">


				<div class="max-w-4xl w-full space-y-6 rounded-2xl shadow-lg bg-[#15202B]">{% endif %} {% block body %}{% endblock %}
					</div>
				</main>

			</div>

			<!-- Script pour ouvrir/fermer le menu -->
			<script>
				const menuBtn = document.getElementById('menuBtn');
const sidebar = document.getElementById('sidebar');
menuBtn.addEventListener('click', () => {
sidebar.classList.toggle('-translate-x-full');
});
			</script>

		</body>


	</html>
